body {
    background-color: black;
    padding: 0px 75px 0px 75px;
}

.content {
/*  
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    grid-template-areas: "xyz"
     */
}   

p {
    color: var(--Lt-warm-grey, #D8D2C3);
    font-family: "Iowan Old Style";
    font-size: 1.7vmin;
    font-style: normal;
    font-weight: 400;

}


h1 {
    color: var(--Tangerine, #FFBB25);
    font-family: "Mrs Saint Delafield";
    font-size: var(--H1, 5vw);
    font-style: normal;
    font-weight: 400;
/*     line-height: 80%; /* 96px */ 
    text-align: center;
}

h2 {
    color: var(--White, #FFF);
    font-family: Uncial Antiqua;
    font-size: 3.5vh;
    font-style: normal;
    display: inline;
    line-height: 0%;
}

h3 {
    color: var(--Tangerine, #FFBB25);
    font-family: Bellefair;
    font-size: var(--h3, 3vh);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
    margin: auto;
    text-align: left;
}

.h3Title {
    display: flex;
    align-items: center;
    gap: 10px;
}

#greeting {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    grid-template-areas: "hello name name name name ending ending ending ending ending ending ending";
    padding-top: 6vh;
    padding-bottom: 3vh;
}

#greeting p {
    color: var(--White, #FFF);
    font-size: 2vmin;
}

#gr1 {
    grid-area: hello;
    justify-self: end;
    align-content: start;
}

#gr2 {
    grid-area: name;
    justify-self: center;
    align-content: center;
    height: fit-content;
}

#gr3 {
    grid-area: ending;
    justify-content: start;
    align-content: end;
}

#about {
    display: grid;
    padding: 40px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    align-content: center;
    grid-template-areas: "spec spec spec spec spec me me me break skills skills skills"
}

#speci {
    grid-area: spec;
}

.eyeAni {

}

#speci h3 {
    padding-bottom: 1vh;
}

.hiddenSpec {
    display: none;
    padding-left: 2vh;
}

.hiddenSpec p {
    font-size: 1.7vmin;
    color: #55534C;
}

/* #cPs p {
    color: #55534C;
    
}

#uXr p {
    color: #55534C;
}

#vC p {
    color: #55534C; 
} */

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    list-style-image: url(../images/bullet1.svg);
 }
 
li {
     padding: 10px 20px 20px 20px;
     flex-direction: column;
    align-self: flex-start;
     gap: 5px;
    flex: 1 0 0;
}

#photo {
    grid-area: me;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}

#photo img {
     width: 100%;
     max-width: 500px;
}

#break {
    grid-area: break;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#break img {
    height: 100%;
}

#skills {
    grid-area: skills;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../images/smoke.svg);
    background-position: center;
    background-repeat: no-repeat;
 
}

.line {
    flex-grow: 1;
    height: 0px;
    border-style: solid;
    border-color: #FFBB25;
    border-width: 2px;
}

#skillsTitle {
    display: flex;
    align-items: center;
}

#skills h3{
    color: white;
    margin: 0px 20px 0px 0px;
}

h4 {
    color: var(--Lt-warm-grey, #D8D2C3);
    font-family: Bellefair;
    font-size: var(--h4, 2.4vh);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
    margin: 0;
}

#skillsLine {
    height: 0px;
    width: 33px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#skills ul {
    padding-inline-start: 20px;
    list-style-image: url(/images/bullet1.svg);
}

#skills li {
    display: flex;
    width: 100%;
    padding: 0em 0em 2em 0em;
}

.subBullet {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    flex-wrap: wrap;
}


.subBullet p {
    color: var(--Md-grey, #55534C);
    font-family: "Iowan Old Style";
    font-size: var(--Body, 1.7vmin);
    font-style: normal;
    margin: 0px 0px 0px 0px;
}

#thurible {
    display: flex;
    justify-content: center;
    gap: 20px;

}

#thurible img {
    width: 50px;
}

.triangleBreak {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    grid-template-areas: ". . . . tri tri tri tri . . . .";
}

.triBreakIcons {
    grid-area: tri;
    display: none;
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.triBreakIcons img {
    padding: 0px;
    opacity: 90%;
}

#work {
/*     width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12% 63% 25%;
    column-gap: 16px;
    row-gap: 10px;
    grid-template-areas: "title title title title title title . . . . . ."
     "cs1 cs1 cs2 cs2 cs3 cs3 cs4 cs4 cs5 cs5 cs6 cs6"
     "txt11 txt11 txt11 txt11 txt22 txt22 txt22 txt22 txt33 txt33 txt33 txt33";
     height: 48vh;
}

#workTitle {
    grid-area: title;
}

.caseStudies {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    overflow-x: auto;
}

.caseStudies img {
    width: auto;
    height: 80%;
    padding: 15px;
    align-self: flex-start;
}

/* .textDoor img {
    height: 140%;
} */

#cs1 {
    grid-area: cs1;

}

#cs2 {
    grid-area: cs2;
    opacity: 70%;
}

#cs3 {
    grid-area: cs3;
}

#cs4 {
    grid-area: cs4;
    opacity: 70%;
}

#cs5 {
    grid-area: cs5;
}

#cs6 {
    grid-area: cs6;
    opacity: 70%;
}

.csText {
    justify-self: center;
    text-align: center;
    align-items: flex-start;
}


.csText p {
    margin: 0;
    text-decoration: dashed;
    text-decoration-color:#AEAEAE;
    padding: 5px 0 5px 0;
}

#txt1 {
    grid-area: txt1;
 
}

#txt11 {
    grid-area: txt11;
    display: flex;
}

#txt2 {
    grid-area: txt2;
    justify-self: center;
}

#txt22 {
    grid-area: txt22;
    display: flex;
}

#txt3 {
    grid-area: txt3;
}

#txt33 {
    grid-area: txt33;
    display: flex;
}

.csTextHide p {
    font-size: 1.8vh;
    color: #55534C;
}


#break2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    grid-template-areas: "triangle1 . . star1 cunifText cunifText cunifText cunifText star2 . . triangle2";
/*     margin-top: 3vh; */
    margin-bottom: 3vh;
}

.breakStar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breakStar img {
    width: 90%;
    height: auto;
    padding: 20px;
/*     align-self: end; */
    opacity: 30%;
}

#tri1 {
    grid-area: triangle1;
}

#tri1 img {
    rotate: 180deg;
}

#st1 {
    grid-area: star1;
}

#cuniText {
    grid-area: cunifText;
    rotate: 180deg;
}

#cuniText img {
    width: 100%;
}


#st2 {
    grid-area: star2;
}

#tri2 {
    grid-area: triangle2;
}

.contact {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    column-gap: 16px;
    grid-template-areas: "header header header header header header header header header . . ."
                        ". . . socials socials socials . quill quill . . .";
}

.contactGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cTitle {
    grid-area: header;
    min-height: fit-content;
    padding-bottom: 1vh;
}

#cQuill {
    grid-area: quill;
}

#cText {
    grid-area: socials;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 16px;
    grid-template-areas: "sText sText sText sText"
                        "sli sli sli sli"
                        "sem sem sem sem";
    
}

#cText p {
    margin: 0;
}

#sText {
    grid-area: sText;
}

#sli {
    grid-area: sli;
}

#sem {
    grid-area: sem;
}

.fLinks {
    display: flex;
align-items: center;
gap: 10px;
justify-content: space-between;
}

.greyDash img {
    width: 100%;
    height: auto;
}

.extIcon img {
    height: 2vh;
    width: auto;
}

.biggerFont p{
    font-size: 2vmin;
}

.brighterFont p {
    color: antiquewhite;
}

.myButton {
    color: #FFBB25;
    border-color: #D8D2C3;
    font-family: Bellefair;
    font-size: 2vh;
    background-color: black;
}

.myButton:hover {
    background-color: #FFBB25;
    color: black;
    border-color: #b69b58;
}

.myButton:active {
    background-color: #AEAEAE;
    color: black;
    border-color: #b69b58;
}

#buttonAlign {
    position: fixed;
    right: 0;
}